@model IEnumerable<BEShopDunk.Models.Customer>

@{
    ViewBag.Title = "DisplayInfoCus";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>DisplayInfoCus</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailCus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassCus)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailCus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassCus)
        </td>

    </tr>
}

</table>
